#menu {
	position: absolute;
	z-index: 1;
	border: 1px solid #666;
	background-color: #fff;	
	box-shadow: 0 0 2px 1px #666;
	overflow-y: auto;

}

#menu button {
	display: block;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 3px 6px;
	font-size: 15px;
	width: 130px;
	text-align: left;
}

#menu button:hover {
	font-weight: bold;
}

#menu span {
	display: block;
	border-top: 1px solid #666;
	margin-top: 4px;
	padding-top: 4px;
}

#menu .ui select.fa-select, .ui select.fa-select option {
	font-size: 13px;
}


#cs {
	position: fixed;
	/* left:44.5%; */
	/* right: 44.8%; */
	/* display: none; */
	display: inline-block;
	left:  28%;
	/* right: 28%; */
	/* top:   96%; */
	bottom: 0%;
	z-index: 1;
	/* border: 1px solid #666; */
	background-color: #000;	
	box-shadow: 0 0 1px 1px #000;
	/* overflow: auto; */
	/* margin-bottom: 9%; */

}

#cs button {
	float: left;
	display: block;
	background-color: #fff;
	border: 1px solid #666;
	margin: 2px;
	margin-bottom: 2px;

	padding: 2px 2px;
	font-size: 10px;
	width: 50px;
	height: 25px;
	text-align: center;
}

#cs button:hover {
	font-weight: bold;
}

#cs .ui select.fa-select, .ui select.fa-select option {
	font-size: 13px;
}