:root {
	--nodebg: #f2d7ac;
	--currentbg: #caba02;
  }

.shape-box > .content {
	background-color: var(--nodebg);
	border: 1px solid rgb(224, 210, 210);
	border-radius: 3px;
	padding: 0.15em 0.4em;
}

.shape-ellipse > .content {
	background-color: var(--nodebg);
	border: 1px solid #666;
	border-radius: 48% / 50%;
	padding: 1em 0.5em;
}

/* cloud */
.shape-cloud > .content {
	background-color: var(--nodebg);
	border: 1px solid #666;
	border-radius: 30px;
	padding: 0.3em 0.3em;
}

.shape-tv > .content {
	background-color: var(--nodebg);
	border: 1px solid #666;
	padding: 0.3em 0.3em;
	border-radius: 50% / 10%;
}
/* tv */
.shape-zigzag > .content {
	/* border: 1px solid #666; */
	background:
	linear-gradient(-135deg, #fff 0.25em, #030303 0),
	linear-gradient(135deg, #fff 0.25em, #030303 0);
	background-position: left bottom;
	background-repeat: repeat-x;

	background-color: var(--nodebg);
	background-size: 0.5em 0.5em;
	padding: 0.3em 0.3em 0.5em 0.3em;

}

/* current */

.current > .content {
	background-color: var(--currentbg);
}

/* root */

#port > .item > .content {
	font-weight: bold;
	border-width: 2px;
	font-size: 140%;
}

#port > .item > .toggle {
	display: none;
}

/* 1st children */

#port > .item > .children > .item > .content {
	border-width: 2px;
	font-size: 120%;
}

.item .icon {
	margin: 0 0.5em 0 0;
	font-size: x-large;
}
